

#logo-git{
    width: 20%;
    height: 20%;
    margin: 15px;
    padding: 5px;
    border: 20px;

}
#logo-linkedin{
    width: 20%;
    height: 20%;
    margin: 15px;
    padding: 5px;
    border: 20px;
}